@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
    color: #fff;
}

.cover-fade {
    width: 100%;
    max-width: 1900px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    mask-image: linear-gradient(0deg, transparent 0, black 20%, black 80%, transparent);
    /* -webkit-mask-image: linear-gradient(0deg, transparent 0, black 20%, black 80%, transparent); */
}

/* Toàn bộ thanh cuộn */
::-webkit-scrollbar {
    width: 8px;
    /* Độ rộng thanh dọc */
    height: 8px;
    /* Độ cao thanh ngang */
}

/* Track (nền của thanh cuộn) */
::-webkit-scrollbar-track {
    background: #f4f4f4;
}

/* Thumb (phần trượt) */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Thumb khi hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }
}